<h1>Listing prazos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Funcao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prazos.each do |prazo| %>
  <tr>
    <td><%= prazo.descricao %></td>
    <td><%= prazo.funcao %></td>
    <td><%= link_to 'Show', prazo %></td>
    <td><%= link_to 'Edit', edit_prazo_path(prazo) %></td>
    <td><%= link_to 'Destroy', prazo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prazo', new_prazo_path %>
