<%= form_for(@lancamento) do |f| %>
  <% if @lancamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lancamento.errors.count, "error") %> prohibited this lancamento from being saved:</h2>

      <ul>
      <% @lancamento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label 'Conta' %><br />
    <%= f.select 'conta_id', Conta.all.collect {|c| [c.descricao, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :confirmado %><br />
    <%= f.check_box :confirmado %>
  </div>
  <div class="field">
    <%= f.label 'Data de efetivação' %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :evento %><br />
    <%= f.select 'evento_id', Evento.all.collect {|e| [e.descricao, e.id]} %>
  </div>
  <div class="field">
    <%= f.label :debito %><br />
    <%= f.check_box :debito %>
  </div>
  <div class="field">
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
