<h1>Lançamentos</h1>

<table id="tabela">
    <thead>
      <tr>
        <th>OK</th>
        <th>Data</th>
        <th>Referencia</th>
        <th>Evento</th>
        <th>Credito</th>
        <th>Debito</th>
        <th>Saldo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        <% @lancamentos.each do |lancamento| %>
          <tr>
            <td><%= check_box_tag "confirmado_#{lancamento.id}", lancamento.id, lancamento.confirmado ? true : false, {:onchange => "alterarCheck(this);"} %></td>
            <td><%= lancamento.data.strftime("%d/%m/%Y") %></td>
            <td><%= lancamento.referencia %></td>
            <td><%= lancamento.evento.descricao %></td>
            <td><%= lancamento.valor %></td>
            <td>Debito</td>
            <td><%= 'saldo' %></td>
            <td>
                <%= link_to 'Show', lancamento %>
                <%= link_to 'Edit', edit_lancamento_path(lancamento) %>
                <%= link_to 'Destroy', lancamento, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %>
            </td>
          </tr>
        <% end %>
    </tbody>
</table>

<br />

<%= link_to 'Novo Lancamento', new_lancamento_path %>

<script type="text/javascript">
    $(document).ready(function(){
        oTable = $("#tabela").dataTable({});

        oTable.fnSort( [ [1,'asc'] ] );
    });


    var  alterarCheck = function(elemento){
        var id = elemento.value
        $.get('/lancamento/confirmado',
            {id:id},
            function(retorno){});
    }
    
</script>
