<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :conta %><br />
    <%= f.select :conta_id, Conta.all.collect {|c| [c.descricao, c.id]}, :selected => f.object.conta_id %>
  </div>
   <div class="field">
    <%= f.label :evento %><br />
    <%= f.select :evento_id, Evento.all.collect {|e| [e.descricao, e.id]}, :selected => f.object.evento_id %>
  </div>
  <div class="field">
    <%= f.label :descricao_sitef %><br />
    <%= f.text_field :descricao_sitef %>
  </div>
  <div class="field">
    <%= f.label :prazo_id %><br />
    <%= f.select :prazo_id, Prazo.all.collect{|p| [p.descricao, p.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
