<h1>Listing produtos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Descricao sitef</th>
    <th>Prazo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.descricao %></td>
    <td><%= produto.descricao_sitef %></td>
    <td><%= produto.prazo.descricao %></td>
    <td><%= link_to 'Show', produto %></td>
    <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
    <td><%= link_to 'Destroy', produto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Produto', new_produto_path %>
