<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dashboard - Admin Template</title>
<%= stylesheet_link_tag "theme",  :media => "screen" %>
<%= stylesheet_link_tag "style",  :media => "screen" %>
<%= stylesheet_link_tag "jquery.dataTables",  :media => "screen" %>
<%= stylesheet_link_tag "jquery.dataTables_themeroller",  :media => "screen" %>
<%= stylesheet_link_tag "jquery-ui-1.10.3.custom.min", :media => "screen" %>

<%= javascript_include_tag "jquery_1_10_2_min" %>
<%= javascript_include_tag "jquery.dataTables.min" %>
<%= javascript_include_tag "jquery-ui-1.10.3.custom.min" %>

<script>
   var StyleFile = "theme" + document.cookie.charAt(6) + ".css";
   document.writeln('<link rel="stylesheet" type="text/css" href="/assets/' + StyleFile + '">');
</script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie-sucks.css" />
<![endif]-->
</head>

<body>
  <div id="container">
      <div id="header">
          <h2>Controle Bancário</h2>
        <div id="topmenu">
          <ul id="menu_principal">
              <li class="current" submenu="dashboard"><a href="#" onClick="atualiza_menu(this)" class="menu">Dashboard</a></li>
              <li submenu="lancamentos"><a href="#" class="menu" onClick="atualiza_menu(this)">Lançamentos</a></li>
              <li submenu="cadastros"><a href="#" class="menu" onClick="atualiza_menu(this)">Cadastros</a></li>
              <li submenu="importacao"><a href="#" class="menu" onClick="atualiza_menu(this)">Importação</a></li>
              <li><a href="#">CMS</a></li>
              <li><a href="#">Statistics</a></li>
              <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
        <div id="top-panel">
            <div id="panel">
              <div class="submenu" id="dashboard"><%= render :partial => "layouts/dashboard" %></div>
              <div class="submenu" id="lancamentos"><%= render :partial => "layouts/lancamentos" %></div>
              <div class="submenu" id="cadastros"><%= render :partial => "layouts/cadastros" %></div>
              <div class="submenu" id="importacao"><%= render :partial => "layouts/importacao" %></div>
            </div>
      </div>
        <div id="wrapper">
            <div id="content">
            <%= yield %>
            </div>
            <div id="sidebar">
          <ul>
            <li><h3><a href="#" class="house">Dashboard</a></h3>
              <%= render :partial => 'layouts/dashboard' %>
              </li>
              <li><h3><a href="#" class="folder_table">Lançamentos</a></h3>
              <%= render :partial => 'layouts/lancamentos' %>
              </li>
              <li><h3><a href="#" class="folder_table">Cadastros</a></h3>
              <%= render :partial => 'layouts/cadastros' %>
              </li>
              <li><h3><a href="#" class="manage">Manage</a></h3>
              <ul>
                <li><a href="#" class="manage_page">Pages</a></li>
                <li><a href="#" class="cart">Products</a></li>
                <li><a href="#" class="folder">Product categories</a></li>
                <li><a href="#" class="promotions">Promotions</a></li>
              </ul>
            </li>
            <li><h3><a href="#" class="user">Users</a></h3>
            <ul>
                      <li><a href="#" class="useradd">Add user</a></li>
                      <li><a href="#" class="group">User groups</a></li>
              <li><a href="#" class="search">Find user</a></li>
                      <li><a href="#" class="online">Users online</a></li>
                  </ul>
              </li>
        </ul>       
          </div>
      </div>
        <div id="footer">
        <div>
       Edson Lima - Programador - (85)87408916 - edson-lima@outlook.com
        </div>
        <div id="styleswitcher">
            <ul>
                <li><a href="javascript: document.cookie='theme='; window.location.reload();" title="Default" id="defswitch">d</a></li>
                <li><a href="javascript: document.cookie='theme=1'; window.location.reload();" title="Blue" id="blueswitch">b</a></li>
                <li><a href="javascript: document.cookie='theme=2'; window.location.reload();" title="Green" id="greenswitch">g</a></li>
                <li><a href="javascript: document.cookie='theme=3'; window.location.reload();" title="Brown" id="brownswitch">b</a></li>
                <li><a href="javascript: document.cookie='theme=4'; window.location.reload();" title="Mix" id="mixswitch">m</a></li>
               <!--  <li><a href="javascript: document.cookie='theme=5'; window.location.reload();" title="Mix" id="defswitch">m</a></li> -->
            </ul>
        </div><br />

        </div>
</div>
</body>
</html>

<script type='text/javascript'>
  $(function(){
    atualiza_submenu("dashboard");
  });

  //atualizar menu principal
  var atualiza_menu = function(element){
    $("#menu_principal > li").attr("class", "");
    $(element).parent().attr("class", "current");
    atualiza_submenu($(element).parent().attr("submenu"));
  }

  //controle de submenus do menu principal
  var atualiza_submenu = function(menu_name){
    $(".submenu").hide();
    $("#menu_principal > li").each(function(){
      if($(this).attr("class") == "current"){
        $("#" + $(this).attr("submenu")).show();
      }
    });
  }
</script>